
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin: 10px;
  height: 100px;
  width: 100px;
  background-color: #c6c8ee;
  border-radius: 50%;
}

.card {
  margin: 5px;
  padding: 10px;
  height: 500px;
  width: 300px;
  background-color: #f7af9d;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .5);
}

img {
  width: 100%;
}

.filler {
  height: 800px;
}
